/* @tailwind base;
@tailwind components;
@tailwind utilities; */
.left{
  background-color: black;
  position: absolute;
  height: 100%;
  width: 30%;
}
.heading{
  color: white;
  margin: 65% 40%;
}
.rightside{
  position: absolute;
  display: flex;
  width: 40%;
  margin: 150px 750px;;
}
.right{
  color: black;
}
.signhd{
  position: absolute;
  margin: 75px 15px;
}
.btn{
  position: absolute;
  display: flex;
  margin: 80px 750px;
}
.apple{
  position: absolute;
  margin: 80px 950px;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: white;
  border-color: beige;
}
/* .other{
  background-color: beige;
  height: 100%;
  width: 100%;
} */